@import url("./normalize.css");

/* variables */
:root {
  /* colors */
  --main-light: #fff;
  --main-background: #f9fafb;
  --text-color: rgba(0, 17, 34, 0.95);
  --text-grey: rgba(0, 17, 34, 0.66);
  --text-light-grey: #57626d;
  --main-blue: #005bff;
  --main-grey: #f0f3f6;
  --border-dark: rgba(97, 131, 162, 0.16);
  --border-light: rgba(153, 175, 199, 0.25);
  --warning-bg: #fff4e4;
  --success-bg: #e8f4ec;
  --hover-bg: #f8f4f4;
  --radio-border: rgba(97, 131, 162, 0.26);
  --header-border: #e6ebf0;

  --text-disabled: #abb1b6;
  --input-disabled: #868e96;

  /* gaps */
  --main-mb: 53px;
  --main-mr: 20px;
  --main-p: 24px;
  --main-vertical: 12px;
  --main-horizontal: 16px;

  --header-mb: 16px;
  --header-mr: 31px;

  --input-mr: 21px;
  --input-mb: 19px;

  --sub-input-mr: 11px;
  --sub-input-mb: 8px;
  --title-mb: 5px;

  /* font sizes */
  --main-fz: 15px;

  /* border-radius */
  --border-radius-b: 16px;
}

/* fonts */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
    url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* general */
html {
  box-sizing: border-box;
  background-color: var(--main-background);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px solid var(--main-blue);
  transition: outline 0.1s ease;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Inter", "Arial", sans-serif;
  color: var(--text-color);
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-fz);
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1372px;
}

@media (max-width: 1440px) {
  .container {
    width: 996px;
  }
}

@media (max-width: 1040px) {
  .container {
    width: 664px;
  }
}

@media (max-width: 730px) {
  .container {
    width: 333px;
  }
}

/* header */
.header {
  padding-top: var(--main-vertical);
  margin-bottom: var(--header-mb);
  border-bottom: 2px solid var(--header-border);
  background-color: var(--main-light);
}

.header__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--main-vertical);
}

.header__logout {
  padding: 0;
  padding-bottom: 7px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* main */
.main-container {
  display: flex;
}

@media (max-width: 1440px) {
  .main-container {
    flex-direction: column;
  }
}

.main {
  width: 100%;
  margin-bottom: var(--main-mb);
}

/* nav */
.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
}

@media (max-width: 730px) {
  .nav__list {
    flex-direction: column;
  }
}

.nav__item {
  display: flex;
  padding-bottom: 5px;
  align-items: center;
  min-height: 37px;
}

.nav__item:not(:last-child) {
  margin-right: var(--header-mr);
}

.nav__link {
  color: var(--text-grey);
  outline: none;
}

.nav__link:after {
  display: block;
  content: "";
  border-bottom: 2px solid var(--main-blue);
  border-radius: 4px;
  transform: scaleX(0) translateY(9px);
  transition: transform 0.3s ease-in-out;
}

.nav__link--active {
  color: var(--text-color);
}

.nav__link:hover:after,
.nav__link:focus:after,
.nav__link--active:after {
  transform: scaleX(1) translateY(9px);
  transform-origin: 0 50%;
}

/* aside */
.aside {
  width: 334px;
  margin-right: var(--main-mr);
  margin-bottom: var(--main-mb);
}

.aside__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-dark);
  padding: var(--main-horizontal);
  border-radius: 8px 8px 0 0;
  background-color: var(--main-light);
}

.aside__input {
  align-self: center;
  padding: 0;
  padding-left: 8px;
  width: 196px;
  outline: none;
  border: none;
  background-color: transparent;
}

.aside__fieldset {
  display: flex;
  margin: 0;
  padding: 10px;
  min-height: 44px;
  border: none;
  border-radius: 8px;
  background-color: var(--main-grey);
}

.aside__search {
  width: 24px;
  height: 24px;
  border: none;
  background: url("../images/search.svg");
  cursor: pointer;
}

.aside__filter {
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 8px;
  background: url("../images/filter.svg");
  cursor: pointer;
}

.aside__list {
  margin: 0;
  padding: 0;
}

@media (max-width: 1440px) {
  .aside {
    width: 100%;
  }

  .aside__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.aside__item {
  padding: var(--main-vertical) var(--main-horizontal);
  border-bottom: 1px solid var(--border-dark);
  background-color: var(--main-light);
  transition: background-color 0.3s ease-in-out;
}

.aside__item:hover {
  background-color: var(--main-grey);
  transition: background-color 0.3s ease-in-out;
}

.aside__item:last-child {
  border: none;
}

.aside__item:last-child {
  border-radius: 0 0 8px 8px;
}

.aside__user-link {
  display: inline-block;
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.aside__status {
  display: flex;
  justify-content: space-between;
}

.aside__user-status {
  position: relative;
  padding: 2px 12px 2px 18px;
  line-height: 20px;
  border: none;
  border-radius: var(--border-radius-b);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.aside__user-status--warning {
  background-color: var(--warning-bg);
}

.aside__user-status--warning::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 4px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../images/warning-dot.svg");
}

.aside__user-status--success {
  background-color: var(--success-bg);
}

.aside__user-status--success::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 4px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../images/success-dot.svg");
}

.aside__user-date {
  position: relative;
  padding-left: 27px;
  font-size: 13px;
}

.aside__user-date::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 4px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../images/calendar.svg");
}

/* card */
.card {
  border-radius: 8px;
  background-color: var(--main-light);
}

.card__about {
  padding: var(--main-p);
  padding-bottom: 0;
}

.card__name {
  margin: 0;
  margin-bottom: var(--sub-input-mb);
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.3px;
}

.card__user-status {
  position: relative;
  padding: 2px 12px 2px 22px;
  line-height: 20px;
  border: none;
  border-radius: var(--border-radius-b);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.card__user-status--warning {
  background-color: var(--warning-bg);
}

.card__user-status--warning::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 4px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../images/warning-dot.svg");
}

.card__user-status--success {
  background-color: var(--success-bg);
}

.card__user-status--success::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 4px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../images/success-dot.svg");
}

.card__list {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
}

.card__data {
  padding: var(--main-p);
  padding-bottom: 0;
  border-bottom: 1px solid var(--border-dark);
}

.card__list {
  display: flex;
}

@media (max-width: 1440px) {
  .card__list {
    flex-direction: column;
  }
}

.card__list-item {
  height: 52px;
  padding: 0 var(--main-p);
  border-right: 1px solid var(--border-light);
}

@media (max-width: 1440px) {
  .card__list-item {
    padding: 0;
    height: auto;
    border: none;
  }
}

.card__list-item:first-child {
  padding: 0;
}

.card__list-item:last-child {
  border: none;
}

.card__sub-list {
  display: flex;
  padding: 0;
  min-width: 269px;
}

.card__sub-list:first-child {
  min-width: 207px;
}

.card__item {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1040px) {
  .card__sub-list {
    height: 100%;
  }

  .card__item {
    justify-content: space-between;
  }
}

.card__status {
  position: relative;
  margin-bottom: var(--sub-input-mb);
  padding-left: 15px;
  font-size: 13px;
  font-weight: 600;
}

.card__status--updated::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../images/warning-dot.svg");
}

.card__status--active::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 4px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url("../images/success-dot.svg");
}

.card__detailed {
  padding: var(--main-p);
  padding-top: 18px;
  padding-bottom: 2px;
}

.card__form {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1440px) {
  .card__form {
    flex-direction: column;
  }
}

.card__label {
  display: flex;
  flex-direction: column;
  margin-right: var(--sub-input-mr);
  margin-bottom: var(--sub-input-mb);
  font-size: var(--main-fz);
  color: var(--text-light-grey);
}

.card__label:nth-child(3),
.card__label:nth-child(6),
.card__label:last-child {
  margin-right: 0;
}

@media (max-width: 1440px) {
  .card__label:nth-child(3),
  .card__label:nth-child(6),
  .card__label:last-child {
    margin-right: var(--input-mr);
  }
}

.card__label--wide {
  width: 100%;
}

.card__label--disabled {
  color: var(--text-disabled);
}

.card__label-container {
  display: flex;
}

@media (max-width: 730px) {
  .card__label-container {
    flex-direction: column;
  }
}

.card__title {
  margin-bottom: var(--title-mb);
  font-size: 13px;
}

.card__field {
  display: flex;
  flex-direction: column;
  margin-right: var(--input-mr);
  margin-bottom: var(--input-mb);
  font-size: var(--main-fz);
  color: var(--text-light-grey);
}

.card__field:nth-child(3),
.card__field:nth-child(6),
.card__field:last-child {
  margin-right: 0;
}

@media (max-width: 1440px) {
  .card__field:nth-child(3),
  .card__field:nth-child(6),
  .card__field:last-child {
    margin-right: var(--input-mr);
  }
}

.card__date {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--sub-input-mb);
  padding-left: 7px;
  font-size: var(--main-fz);
  color: var(--text-light-grey);
}

.card__personal {
  margin: 0;
  margin-bottom: var(--input-mr);
  font-size: 20px;
  letter-spacing: -0.3px;
}

.card__input {
  position: relative;
  width: 309px;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: var(--main-grey);
  font-size: var(--main-fz);
  line-height: 16px;
  color: var(--text-color);
  transition: outline 0.1s ease;
  appearance: none;
}

.card__input:disabled {
  color: var(--input-disabled);
}

@media (max-width: 1440px) {
  .card__input {
    width: 100%;
  }
}

@media (max-width: 730px) {
  .card__input {
    width: 288px;
  }
}

.card__input--date {
  padding: 12.5px 14px;
}

.card__input--date::after {
  content: "";
  position: absolute;
  right: 13px;
  top: 10px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../images/calendar-input.svg") var(--main-grey);
  pointer-events: none;
}

.card__input--wide {
  width: 100%;
  padding-top: 14px;
}

@media (max-width: 730px) {
  .card__input--wide {
    width: 288px;
  }
}

/* select */
.card__select {
  position: relative;
  width: 309px;
  padding: 14px 14px;
  border: none;
  border-radius: 8px;
  background: var(--main-grey);
  font-size: var(--main-fz);
  line-height: 16px;
  color: var(--text-color);
  transition: outline 0.1s ease;
  appearance: none;
}

.card__select--arrow {
  background: url("../images/arrow.svg") right 13px center no-repeat
    var(--main-grey);
  transition: background 0.3s ease;
}

.card__select--arrow:focus {
  background: url("../images/arrow-down.svg") right 13px center no-repeat
    var(--main-grey);
  transition: background 0.3s ease;
}

@media (max-width: 1440px) {
  .card__select {
    width: 100%;
  }
}

@media (max-width: 730px) {
  .card__select {
    width: 288px;
  }
}

/* radio */
.card__radio {
  display: block;
  position: relative;
  width: 150px;
  padding: 9px 40px 9px 40px;
  margin-right: var(--sub-input-mr);
  border: 1px solid var(--radio-border);
  border-radius: 8px;
  cursor: pointer;
  font-size: var(--main-fz);
  user-select: none;
}

.card__radio:last-child {
  margin-right: 0;
}

.card__radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.card__checkmark {
  position: absolute;
  top: 10px;
  left: 11px;
  height: 20px;
  width: 20px;
  border: 2px solid var(--radio-border);
  border-radius: 50%;
  background-color: var(--main-light);
}

.card__radio input:checked ~ .card__checkmark {
  border: none;
  background-color: var(--main-blue);
  transition: all 0.3s ease;
}

.card__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.card__radio input:checked ~ .card__checkmark:after {
  display: block;
  transition: all 0.3s ease;
}

.card__radio .card__checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--main-grey);
}

.card__input-radio {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
